# Logs
*.log
npm-debug.log*
data.json

# Dependency directories
node_modules/

# Build output
main.js.map
*.js.map

# Keep these for Obsidian plugin distribution
main.js
manifest.json
styles.css

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
.qwen/
.qoder/

# TypeScript cache
*.tsbuildinfo

#Others
PROJECT_STRUCTURE.md
